<p>
  concat：前一个流完成后才会订阅下一个流。
</p>
<p>
  merge：接受一个参数，规定最大允许同时进行的流数量，当超过参数时只有等其中一个流完成时剩下的流才有机会进入。
</p>
<p>
  startWith：在指定流发送前发送某个数据，只能是同步发送。
</p>
<p>
  combineLatest：合并任意个流，无主从关系，任意一个流发送数据均可进行合并，但每个流至少都发送1个数据后才会进行合并。
</p>
<p>
  withLatestFrom：合并任意个流，只有当主流发送数据后才会进行合并，但要保证每个流至少都发送了1个数据。
</p>
<p>
  zip：合并任意个流，合并时机为于每个流相同位置都发送数据后才进行合并。
</p>
<p>
  forkJoin：合并任意个流，只在每个流都结束后合并发送每个流最后一个数据。
</p>
<p>
  race：合并任意个流，只采用最先发送数据的那个流，其他流退订。
</p>
<p>
  concatAll mergeAll zipAll combineAll：打平高阶流，对内部流应用concat merge zip combineLatest。
</p>
<p>
  switch：打平高阶流，每当外部流发送最新数据，都会重新订阅最新的内部流，舍弃之前没处理完的。
</p>
<p>
  exhaust:打平高阶流，在当前内部流没处理完成时如果有新的内部流，就舍弃他，直到完成后才会订阅新的内部流。
</p>