<div>
  <ul>
    <li [routerLink]="['home']">home</li>
    <li [routerLink]="['one']">函数响应式编程</li>
    <li [routerLink]="['two']">rxjs入门</li>
    <li [routerLink]="['three']">rxjs操作符</li>
    <li [routerLink]="['four']">创建数据流</li>
    <li [routerLink]="['five']">合并数据流</li>
    <li [routerLink]="['six']">辅助类操作符</li>
    <li [routerLink]="['seven']">过滤数据流</li>
    <li [routerLink]="['eight']">转化数据流</li>
    <li [routerLink]="['night']">异常处理</li>
    <li [routerLink]="['ten']">多播</li>
  </ul>
  <router-outlet></router-outlet>
</div>

