<div>
  <h3>filter</h3>
  <div>{{filter$|async}}</div>
</div>
<div>
  <h3>first</h3>
  <div>{{first$|async}}</div>
</div>
<div>
  <h3>last</h3>
  <div>{{last$|async}}</div>
</div>
<div>
  <h3>take</h3>
  <div>{{take$|async}}</div>
</div>
<div>
  <h3>takeLast</h3>
  <div>{{takeLast$|async}}</div>
</div>
<div>
  <h3>takeUntil</h3>
  <div>{{takeUntil$|async}}</div>
</div>
<div>
  <h3>takeWhile</h3>
  <div>{{takeWhile$|async}}</div>
</div>
<div>
  <h3>skip</h3>
  <div>{{skip$|async}}</div>
</div>
<div>
  <h3>skipUntil</h3>
  <div>{{skipUntil$|async}}</div>
</div>
<div>
  <h3>skipWhile</h3>
  <div>{{skipWhile$|async}}</div>
</div>
<div>
  <h3>throttleTime</h3>
  <div>
    <button id="btn_1">throttleTime</button>
    <span>{{throttleTime$|async}}</span>
  </div>
</div>
<div>
  <h3>throttle</h3>
  <div>
    <span>{{throttle$|async}}</span>
  </div>
</div>
<div>
  <h3>debounceTime</h3>
  <div>
    <button id="btn_2">debounceTime</button>
    <span>{{debounceTime$|async}}</span>
  </div>
</div>
<div>
  <h3>debounce</h3>
  <div>
    <span>{{debounce$|async}}</span>
  </div>
</div>
<div>
  <h3>auditTime</h3>
  <div>
    <span>{{auditTime$|async}}</span>
  </div>
</div>
<div>
  <h3>audit</h3>
  <div>
    <span>{{audit$|async}}</span>
  </div>
</div>
<div>
  <h3>sampleTime</h3>
  <div>
    <span>{{sampleTime$|async}}</span>
  </div>
</div>
<div>
  <h3>sample</h3>
  <div>
    <button id="btn_3">sample</button>
    <span>{{sample$|async}}</span>
  </div>
</div>
<div>
  <h3>distinct</h3>
  <div>
    <span>{{distinct$|async|json}}</span>
  </div>
</div>
<div>
  <h3>distinctUntilChanged</h3>
  <div>
    <span>{{distinctUntilChanged$|async}}</span>
  </div>
</div>
<div>
  <h3>elementAt</h3>
  <div>
    <span>{{elementAt$|async}}</span>
  </div>
</div>
