<div>
  <h3>map</h3>
  <div>{{map$|async}}</div>
</div>
<div>
  <h3>mapTo</h3>
  <div>{{mapTo$|async}}</div>
</div>
<div>
  <h3>pluck</h3>
  <div>{{pluck$|async}}</div>
</div>
<div>
  <h3>windowTime</h3>
  <div>{{windowTime$|async}}</div>
</div>
<div>
  <h3>bufferTime</h3>
  <div>{{bufferTime$|async}}</div>
</div>
<div>
  <h3>windowCount</h3>
  <div>{{windowCount$|async}}</div>
</div>
<div>
  <h3>bufferCount</h3>
  <div>{{bufferCount$|async}}</div>
</div>
<div>
  <h3>windowWhen</h3>
  <div>{{windowWhen$|async}}</div>
</div>
<div>
  <h3>bufferWhen</h3>
  <div>{{bufferWhen$|async}}</div>
</div>
<div>
  <h3>windowToggle</h3>
  <div>{{windowToggle$|async}}</div>
</div>
<div>
  <h3>bufferToggle</h3>
  <div>{{bufferToggle$|async}}</div>
</div>
<div>
  <h3>window</h3>
  <div>{{window$|async}}</div>
</div>
<div>
  <h3>buffer</h3>
  <div>{{buffer$|async}}</div>
</div>
<div>
  <h3>concatMap</h3>
  <div>{{concatMap$|async}}</div>
</div>
<div>
  <h3>mergeMap</h3>
  <div>{{mergeMap$|async}}</div>
</div>
<div>
  <h3>switchMap</h3>
  <div>{{switchMap$|async}}</div>
</div>
<div>
  <h3>exhaustMap</h3>
  <div>{{exhaustMap$|async}}</div>
</div>
<div>
  <h3>groupBy</h3>
  <div>{{groupBy$|async|json}}</div>
</div>
<div>
  <h3>partition</h3>
  <div>{{odd$|async}}</div>
  <div>{{even$|async}}</div>
</div>
<div>
  <h3>scan</h3>
  <div>{{scan$|async|json}}</div>
</div>
